<div appDynamicResponsiveTable class="table-wrapper">
  <table style="width: 100%; background-color: lightblue">
    <thead>
    <tr>
      <th>This</th>
      <th>is</th>
      <th>a</th>
      <th>table</th>
      <th>with</th>
      <th>the</th>
      <th>directive</th>
      <th>dynamic-responsive-table</th>
      <th>foo</th>
      <th>bar</th>
      <th>baz</th>
      <th>!</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
      <td>sit</td>
      <td>amet</td>
      <td>consectetur</td>
      <td>adipiscing</td>
      <td>elit</td>
      <td>sed</td>
      <td>do</td>
      <td>eiusmod</td>
      <td>tempor</td>
    </tr>
    <tr>
      <td>incididunt</td>
      <td>ut</td>
      <td>labore</td>
      <td>et</td>
      <td>dolore</td>
      <td>magna</td>
      <td>aliqua</td>
      <td>Ut</td>
      <td>enim</td>
      <td>ad</td>
      <td>minim</td>
      <td>veniam</td>
    </tr>
    <tr>
      <td>quis</td>
      <td>nostrud</td>
      <td>exercitation</td>
      <td>ullamco</td>
      <td>laboris</td>
      <td>nisi</td>
      <td>ut</td>
      <td>aliquip</td>
      <td>ex</td>
      <td>ea</td>
      <td>commodo</td>
      <td>consequat</td>
    </tr>
    <tr>
      <td>Duis</td>
      <td>aute</td>
      <td>irure</td>
      <td>dolor</td>
      <td>in</td>
      <td>reprehenderit</td>
      <td>in</td>
      <td>voluptate</td>
      <td>velit</td>
      <td>esse</td>
      <td>cillum</td>
      <td>dolore</td>
    </tr>
    <tr>
      <td>eu</td>
      <td>fugiat</td>
      <td>nulla</td>
      <td>pariatur</td>
      <td>Excepteur</td>
      <td>sint</td>
      <td>occaecat</td>
      <td>cupidatat</td>
      <td>non</td>
      <td>proident</td>
      <td>sunt</td>
      <td>in</td>
    </tr>
    <tr>
      <td>culpa</td>
      <td>qui</td>
      <td>officia</td>
      <td>deserunt</td>
      <td>mollit</td>
      <td>anim</td>
      <td>id</td>
      <td>est</td>
      <td>laborum</td>
      <td>Lorem</td>
      <td>ipsum</td>
      <td>dolor</td>
    </tr>
    </tbody>
  </table>
</div>
